*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #03045E;
    line-height: normal;
}
header > * { 
    font-size: 16px;
    background: #03045E;
}
.navbar{
    width: 80%;
    margin: auto;
    display: flex;
    text-align: center;
    list-style:none;
    justify-content: flex-end;

}
li{
    display: inline-block;
    padding: 20px 20px;
    background: #03045E;
    color: #fff;
}
li:hover{
    background: red;
}